* {
    margin: 0;
    padding: 0;
}

main {
    background-color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    width: 80%;
    padding: 0 10% 0 10%;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13vh;
}

nav > h1 {
    font-family: 'Tilt Prism', cursive;
    font-size: 7rem;
    font-weight: lighter;
    color: white;
    margin: -1.00%;
}

nav > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color: white;
}

nav > p > em > span {
    color: rgba(255, 0, 30, 0.7);
}

header {
    background-color: black;
}

.headImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/LOGOS/TariffLogoShaded.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 80%;
    margin: 0 10% 0 10%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 80%;
    background-color: black;
    padding: 5% 10% 0 10%;
    box-shadow: 0px 0px 70px 60px black;
}

.shiftLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: self-start;
    background-color: white;
    height: auto;
    width: 45.00%;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 35px;
    margin: 2.50%;
}

.shiftRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    background-color: white;
    height: auto;
    width: 45%;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 35px;
    margin: 2.50%;
}

.shiftLeft h3,
.shiftRight h3 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3rem;
}

.shiftLeft p,
.shiftRight p {
    font-family: 'Nanum Myeongjo', cursive;
    font-size: 1.3rem;
    line-height: 30px;
}

#settingsPage {
    display: none;
}

#mainGame {
    display: none;
}

div[onclick="gotoSettings()"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Goblin One', cursive;
    height: 20%;
    width: 20%;
    border: 3px solid black;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
}

div[onclick="gotoSettings()"]:active {
    background-image: linear-gradient(180deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
}

#settingsPage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    padding: 0 15% 0 15%;
    background-color: white;
    color: black;
}

#settingsPage * {
    margin: 10px;
}

#settingsPage::selection,
#settingsPage *::selection {
    background-color: transparent;
}

#settingsPage > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    font-family: 'Tilt Prism', cursive;
    font-size: 7rem;
    font-weight: lighter;
    color: black;
}

#settingsPage > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 85vh;
    border: 4px solid black;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
}

#settingsPage > article div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 90%;
}

#settingsPage > article div p,
#settingsPage > article div label {
    font-size: 3rem;
    font-family: 'Nanum Myeongjo', cursive;
    width: 50%;
    height: 50%;
    text-align: center;
}

#settingsPage > article div *:not(p, label, button) {
    width: 50%;
    height: 30%;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
}

#settingsPage > article > div > span {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    margin: 0 100px 0 0;
}

#settingsPage > article > div > span div {
    height: 100%;
    width: 100%;
}

button[onclick="startGame(errorBoolean)"] {
    width: 70%;
    height: 60%;
    font-family: 'Black Han Sans', sans-serif;
    border: 3px solid black;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
}

/* #gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
} */

.playerInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 97vh;
    width: -webkit-fill-available;
    margin: 10px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 18vh;
}

#playerIconBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 7vh;
    border: 3px solid aqua;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(0, 255, 0, 0.7), rgba(128, 255, 212, 0.7));
}

#currentPlayerBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 7vh;
    border: 3px solid chocolate;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(210, 105, 30, 0.7), rgba(255, 94, 0, 0.7));
    font-family: 'Tilt Prism', cursive;
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.mid-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 58vh;
    width: 50%;
}

#ownedProperties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44.4vh;
    width: 90%;
    border: 3px black solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
}

#playerBalance {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.6vh;
    width: 90%;
    border: 3px black solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(170, 170, 170, 0.8), rgba(48, 48, 48, 0.8));
}

.mid-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 58vh;
    width: 50%;
}

#chanceCards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20.4vh;
    width: 90%;
    border: 3px rebeccapurple solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(102, 51, 153, 0.8), rgba(41, 0, 73, 0.8));
}

#communityCards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20.4vh;
    width: 90%;
    border: 3px cornflowerblue solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(100, 139, 247, 0.8), rgba(0, 5, 90, 0.8));
}

#diceBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 11.2vh;
    width: 90%;
}

#Miscellaneous {
    height: 100%;
    width: 40%;
    border: 3px goldenrod solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(218, 165, 32, 0.8), rgba(247, 255, 4, 0.8));
}

.diceLogoBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 60%;
}

#diceOne {
    height: 100%;
    width: 110px;
    border: 3px goldenrod solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(218, 165, 32, 0.8), rgba(247, 255, 4, 0.8))
}

#diceTwo {
    height: 100%;
    width: 110px;
    border: 3px goldenrod solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(218, 165, 32, 0.8), rgba(247, 255, 4, 0.8))
}

#diceOne::selection,
#diceTwo::selection {
    background-color: transparent;
}

.low {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 18vh;
}

#eventBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    border: 3px chartreuse solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(127, 255, 0, 0.8), rgba(0, 255, 136, 0.8));
}

#presidentBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    border: 3px chartreuse solid;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(127, 255, 0, 0.8), rgba(0, 255, 136, 0.8));
}

#gameBoard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 970px;
    height: 970px;
    margin: 25px 25px 0 0;
}

#gameBoard *::selection {
    background-color: transparent;
}

/* Gameboard */
#playerBalance {
    font-size: 32px;
    font-family: 'Black Han Sans', sans-serif;
}

.topCells,
.leftCells,
.rightCells,
.bottomCells {
    height: min-content;
    width: min-content;
}

.topCells {
    display: flex;
    flex-direction: row;
}

.leftCells {
    display: flex;
    flex-direction: column-reverse;
}

img[src="images/LOGOS/TariffLogoShaded.png"] {
    rotate: 25deg;
    width: 50%;
    border: black 2px solid;
    border-radius: 20px 20px 20px 20px;
    opacity: 50%;
    height: 30%;
    align-self: center;
}

.rightCells {
    display: flex;
    flex-direction: column;
}

.bottomCells {
    display: flex;
    flex-direction: row-reverse;
}

#gameBoard div > div {
    position: absolute;
}

#gameBoard div > img {
    position: absolute;
    opacity: 40%; 
    /* Currently enabling opacity so I can see frerg behind images. */
}


.topCells div,
.leftCells div,
.rightCells div,
.bottomCells div {
    height: 85px;
    width: 85px;
    border: 2px black solid;
}

#cell1,
#cell3 {
    background-color: brown;
}

#cell6,
#cell8,
#cell9 {
    background-color: lightblue;
}

#cell11,
#cell13,
#cell14 {
    background-color: rebeccapurple;
}

#cell16,
#cell18,
#cell19 {
    background-color: orange;
}

#cell21,
#cell23,
#cell24 {
    background-color: red;
}

#cell26,
#cell27,
#cell29 {
    background-color: yellow;
}

#cell31,
#cell32,
#cell34 {
    background-color: greenyellow;
}

#cell37,
#cell39 {
    background-color: cornflowerblue;
}

#gameBoard article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameBoard article div img {
    width: 50px;
    height: 50px;
}

/* AskProperty, BuyProperty */
.propertyAsk {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    background-color: white;
    border: 2px black solid;
    border-radius: 20px;
    left: 26%;
    top: 10%;
}

.propertyAsk *::selection {
    background-color: transparent;
}

.propertyName {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    font-family: 'Goblin One', cursive;
    font-size: 2rem;
    letter-spacing: 3px;
    height: 10vh;
    width: 100%;
}

.propertyPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Black Han Sans', cursive;
    font-size: 1.5rem;
    /* letter-spacing: 5px; */
    width: 50%;
    height: 10%;
}

.pPFather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
}

.pPDFather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.priceFather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.buttonFatherProp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
}

.propertyButtons {
    border-radius: 20px;
    width: 35%;
    height: 100%;
}

.testButton {
    width: 50%;
    height: 10%;
    border-radius: 20px;
    margin: 6% 0 0 0;
}

/* Presidential Elections */

.electionFather {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    height: 90%;
    background-color: white;
    border: 2px black solid;
    border-radius: 20px;
    left: 18%;
    top: 5%;
}

.electionFather *::selection {
    background-color: transparent;
}

.nomineeFather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.descriptionFather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.nominee {
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.nomineeDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.voteConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    font-size: 2rem;
    font-family: 'Goblin One', cursive;
    letter-spacing: 5px;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

/* Player Characters */
.selectedCharacter {
    border: 3px solid greenyellow;
}

.frog {
    content: url(../images/PC-PIECES/FrogCharacter.gif);
    height: 100%;
    width: auto;
}

.frogTurn {
    content: url(../images/PC-PIECES/);
    height: 100%;
    width: auto;
}

.dragon {
    content: url(../images/PC-PIECES/DragonCharacter.gif);
    height: 100%;
    width: auto;
}

.crab {
    content: url(../images/PC-PIECES/HermCrabCharacter.gif);
    height: 100%;
    width: auto;
}

/* Dice */
.diceOne {
    content: url(../images/DICE-LOGO/DiceOne.png);
}

.diceTwo {
    content: url(../images/DICE-LOGO/DiceTwo.png);
}

.diceThree {
    content: url(../images/DICE-LOGO/DiceThree.png);
}

.diceFour {
    content: url(../images/DICE-LOGO/DiceFour.png);
}

.diceFive {
    content: url(../images/DICE-LOGO/DiceFive.png);
}

.diceSix {
    content: url(../images/DICE-LOGO/DiceSix.png);
}

.diceRare {
    content: url(../images/DICE-LOGO/DiceRare.png);
}

/* Presidents */
.kirk {
    content: url(../images/POTUS/ColbyK.jpg);
}

.olsen {
    content: url(../images/POTUS/ColbyO.jpg);
}

.ethan {
    content: url(../images/POTUS/Ethan.jpg);
}

.pettit {
    content: url(../images/POTUS/JustusP.jpg);
}

.cox {
    content: url(../images/POTUS/LucasC.jpg);
}

.peters {
    content: url(../images/POTUS/MasonP.jpg);
}

.ziokalski {
    content: url(../images/POTUS/PaulZ.jpg);
}

.ghosoph {
    content: url(../images/POTUS/ZachG.jpg);
}

/* Player Icons, (Each player is a slightly different color of the same icon.) */

.P0 {
    filter: hue-rotate(0deg);
}

.P1 {
    filter: hue-rotate(45deg);
}   

.P2 {
    filter: hue-rotate(90deg);
}

.P3 {
    filter: hue-rotate(135deg);
}

.P4 {
    filter: hue-rotate(180deg);
}

.P5 {
    filter: hue-rotate(225deg);
}

.P6 {
    filter: hue-rotate(270deg);
}

.P7 {
    filter: hue-rotate(315deg);
}